*.o
*.*.o.d
.*.cmd
*.order
.config*
*.elf
*.img
*.a
*.hex
*.dmp

.tmp_versions/
include/config
include/generated

_theme_packages/
Documentation/doxygen_sqlite3.db

.*.swp
.*.swo
.vimproject
.vimws/*
.vimws/
