*.o
*.*.o.d
.*.cmd
*.order
.config*
*.elf
*.img
*.a
*swp
.*.swo
*.hex
*.dmp
.tmp_versions/
include/config
include/generated
.vimproject
.vimws/*
.vimws/
_theme_packages/
*.*.swp
.vimproject
Documentation/doxygen_sqlite3.db
