mainmenu "ETA/OS $ARCH Kernel Configuration"

config SRCARCH
	string
	option env="SRCARCH"

config MODULES
	bool "Module building"
	option modules
	help
	  Enable the building of modules.

source "Kconfig.optimisation"

config CROSS_COMPILE
	string "Cross compile prefix"
	help
	  Enter the toolchain cross compile prefix. For example,
	  to cross compile for avr enter avr- here.

source "arch/$SRCARCH/Kconfig"
