config ARCH_TEST_BIT
	bool

config ARCH_TNC
	bool

config ARCH_TNS
	bool

config ARCH_SET_BIT
	bool

config ARCH_CLEAR_BIT
	bool

config ARCH_TEST_BIT
	bool

config HARVARD
	bool

menu "Generic system configuration"

config CPP
	bool "C++ supoort"
	default y
	help
	  Say 'y' here to build support for the C++ programming
	  language. If you are unsure, say leave this option set
	  to 'y'.

source "kernel/irq/Kconfig"

source "kernel/time/Kconfig"

source "kernel/sched/Kconfig"

choice
	prompt "Mutex lock mechanism"

config MUTEX_TRADITIONAL
	bool "Traditional mutexes"
	help
	  Say 'y' here to use the traditional mutex 
	  locking mechanism.
	  This mechanism is a bit more sensitive to
	  deadlocks then the event queue mechanism.

config MUTEX_EVENT_QUEUE
	bool "Event queue mutex"
	depends on EVENT_MUTEX
	help
	  Say 'y' if you are interrested in using
	  event queue's as the backend for mutex
	  locks. These mechanism provides better
	  use of the CPU time, by using the scheduler
	  to run other threads when waiting for a lock.
	  The downside is, that the memory usage is
	  slightly higher and a bit more overhead when
	  locking/unlocking.

endchoice

config SEM
	bool "Semaphores"
	depends on EVENT_MUTEX
	help
	  Say 'y' here if you want to build support for semaphore's.

endmenu

