config ARCH_TEST_BIT
	bool

config ARCH_TNC
	bool

config ARCH_TNS
	bool

config ARCH_SET_BIT
	bool

config ARCH_CLEAR_BIT
	bool

config ARCH_TEST_BIT
	bool

config HARVARD
	bool

menu "Generic system configuration"

config CPP
	bool "C++ supoort"
	default y
	help
	  Say 'y' here to build support for the C++ programming
	  language. If you are unsure, say leave this option set
	  to 'y'.

config TRACE_INFO
	bool "Call tracing"
	depends on CRT
	default n
	help
	  Say 'y' here to build support for function call tracing.

source "kernel/python/Kconfig"

source "kernel/irq/Kconfig"

source "kernel/time/Kconfig"

source "kernel/sched/Kconfig"

config SPINLOCK_DEBUG
	depends on CRT
	select TRACE_INFO
	bool "Spinlock tracing"
	help
	  Say 'y' here to built support for spinlock tracing.

endmenu
