config ARCH_TEST_BIT
	bool

config ARCH_TNC
	bool

config ARCH_TNS
	bool

config ARCH_SET_BIT
	bool

config ARCH_CLEAR_BIT
	bool

menu "Generic system configuration"

source "kernel/irq/Kconfig"

source "kernel/time/Kconfig"

source "kernel/sched/Kconfig"

endmenu

