menuconfig IRQ_SUPPORT
	bool "IRQ core"
	select MALLOC
	help
	  Say 'y' here if you want to enable support
	  IRQ chips. If you are unsure say 'y'.

if IRQ_SUPPORT
config IRQ_THREAD
	bool "Threaded IRQ support"
	depends on SCHED && THREAD_QUEUE && EVENT_MUTEX
	help
	  Say 'y' here if you want to have the ability to
	  handle threads out of IRQ context. Triggered IRQ's will
	  execute (delayed) in a thread. The drawbacks are that
	  these kind of interrupts arrive delayed and have extra
	  overhead in the kernel. If unsure say 'n' here.

config SOFT_IRQ
	bool "Software IRQs"
	depends on GPIO
	help
	  Say 'y' here to build support for software IRQ triggering. If
	  you are unsure, say 'n' here.

config IRQ_DEBUG
	bool "Threaded IRQ debug support"
	depends on IRQ_THREAD
	help
	  Say 'y' here if you want to build debugging symbols for IRQ
	  threads. This option is useful for ETA/OS developers. If you are
	  unsure say 'N' here.
endif
