menu "File systems"

config VFS
	tristate "Virtual Filesystem"
	help
	  If set to 'y', the virtual filesystem driver
	  will be compiled. The virtual file system is
	  used by the standard C library for the STDIO
	  functions. If you are unsure say 'm' or 'y'
	  here.

if VFS
config DEVFS
	tristate "Device file system"
	depends on VFS
	help
	  Device file system. This file system is used by the device
	  drivers to create a UAPI for applications.

config ROMFS
	tristate "Micro ROM filesystem"
	help
	  Say 'y' or 'm' here to build a small read-only
	  filesystem. This filesystem is stored in program
	  memory. If you are unsure, say 'n' here.

config RAMFS
	tristate "Micro RAM filesystem"
	default n
	help
	  Say 'y' or 'm' here to build a small RAM read-write
	  filesystem. If you are unsure, say 'n' here.
endif
endmenu
