menu "File systems"

config VFS
	tristate "Virtual Filesystem"
	help
	  If set to 'y', the virtual filesystem driver
	  will be compiled. The virtual file system is
	  used by the standard C library for the STDIO
	  functions. If you are unsure say 'm' or 'y'
	  here.
endmenu
