menuconfig SCHED
	bool "Scheduler"
	select TIMER
	help
	  Say 'y' here if you want to enable the scheduler. The
	  scheduler is responsible for handeling the execution of
	  threads, virtual timers and, if available, SMP processors.
	  If you are unsure say 'n' here.

if SCHED
config SCHED_DBG
	bool "Scheduling DBG"
	help
	  Say 'y' here to enable the scheduling debugger. This
	  function is only useful for ETAO/OS developers. If you
	  are unsure say 'n' here.

choice
	prompt "Algorithm"
	help
	  Select the scheduling algorithm.

config RR
	bool "Round robin scheduler"
	help
	  Say 'y' here to use the round robin algorithm to
	  schedule different threads.

endchoice

config DYN_PRIO
	bool "Dynamic priorities"
	help
	  Say 'y' here to enable dynamic priorities. Dynamic
	  priorities are an extra set of priorites set by
	  the scheduler to make the scheduling process more fair
	  and reduce the chance that 2 high priority threads
	  dead swap the entire scheduling system. If you are
	  unsure say 'y' here.

endif
