menu "Memory Allocation"

config MALLOC
	bool "Memory allocator"
	default y
	help
	  Enable or disable the memory allocator. If you're not
	  sure, say 'Y' here.

config MM_DEBUG
	bool "Memory debugger"
	depends on MALLOC
	help
	  Say 'Y' here if you want to enable the memory
	  allocation debugging code.

config MM_DESTRUCTIVE_ALLOC
	bool "Destructive memory allocation"
	depends on MALLOC
	help
	  Say 'y' here to turn the memory allocator into a
	  destructive allocator. This means that whenever an
	  allocation fails, a kernel panic is thrown up.

endmenu
