menu "Device drivers"

source "drivers/core/Kconfig"

source "drivers/usart/Kconfig"

source "drivers/spi/Kconfig"

source "drivers/i2c/Kconfig"

source "drivers/gpio/Kconfig"

source "drivers/analog/Kconfig"

source "drivers/platform/Kconfig"

source "drivers/eeprom/Kconfig"

source "drivers/sram/Kconfig"

endmenu
