menuconfig TIMER
	bool "System timers"
	select MALLOC
	help
	  Say 'y' here if you want to build support for
	  system timers. System timers support the system
	  when it comes to timing. The scheduler, virtual
	  timers and the 'jiffy' tick (i.e. system tick) all
	  run on top of this susbystem.

if TIMER
config SYS_TICK
	bool "System tick"
	default y
	help
	  Say 'y' here to enable the system tick (or jiffy timer).
	  This timer is mandatory for all systems within ETA/OS itself
	  that require precision timing (scheduler, etc..). If unsure
	  say 'y'.

config DST_BIAS
	int "DST bias"
	default -3600
	help
	  This is the bias for daylight savings time. This value is
	  substracted from the standard time when adjusting for daylight
	  savings time.

config HRTIMER
	bool "High resolution timers"
	default n
	help
	  Say 'y' here if your application needs high resolution timers
	  (which are generally ran from interrupt context).

config TIMER_DBG
	bool "Timer debugging"
	default n
	help
	  Saying 'y' here enables various debugging messages
	  in the timer subsystem. This option is mostly useful
	  for ETA/OS developers. If you are unsure say 'n' here.
endif

config DELAY_US
	bool "Micro second delay"
	help
	  Say 'y' here to build support for a microsecond delay
	  API function. This is implemented using a loop based delay
	  (i.e. it will loop for X amount of microseconds before
	  passing control back).

config DELAY_MS
	bool "Milisecond delay"
	depends on SYS_TICK
	help
	  Say 'y' here to build an API function to loop delay
	  for a certain amount of miliseconds. This function should
	  be avoided when using the scheduler, since it can derail
	  virtual timers and the scheduler. When using the scheduler
	  use sleep instead.

