menuconfig ANALOG
	tristate "ADC"
	help
	  Say 'y' or 'm' here to build the analog to digital converter
	  module. If unsure, say 'm' here.

if ANALOG

config ATMEGA_ANALOG
	tristate "ATmega ADC"
	depends on ANALOG
	help
	  Say 'y' or 'm' here to build the AVR ATmega ADC module.

endif

