menu "AVR system configuration"

config EXT_MEM
	int "External memory"
	help
	  If you connected external memory to your AVR core,
	  enter the amount of bytes you connected here.

config STACK_SIZE
	int "Stack size"
	help
	  Enter the amount of bytes which should be
	  reserved for the stack by default. This value
	  will be the size of the main thread (if scheduling
	  is enabled) and it will be used as default for
	  other threads if no stack size is given when a new
	  thread is created.

config SIMUL_AVR
	bool "Enable SIMULAVR support"
	help
	  By saying 'Y' here you will enable support for SIMUALAVR;
	  an AVR emulator. This will also enable two extra I/O
	  registers for input and output. All in- and output from the
	  std C library will be directed from and to these to I/O ports.
	  If unsure, say 'N' here.

choice
	prompt "AVR core selection"
	help
	  Select the AVR architecture to build for.

config ATMEGA328
	bool "ATmega 328(p)"
	help
	  Select if you are building for the Atmel ATmega328 or ATmega328p
	  AVR core.
endchoice

endmenu

source "kernel/Kconfig"
source "drivers/Kconfig"
source "mm/Kconfig"
source "lib/Kconfig"

